/* BACKGROUND */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #811074, #de18c7);
}

/* CARD */
.auth-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* TITLE */
.auth-box h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

/* INPUT */
.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

/* BUTTON */
.auth-box button {
  width: 100%;
  padding: 10px;
  background: #3f0b2b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-box button:hover {
  background: #0973c4;
}

/* LINK */
.auth-box p {
  margin-top: 12px;
  font-size: 14px;
}

.auth-box span {
  color: #0b93f6;
  cursor: pointer;
  font-weight: bold;
}